body{
  padding-top: 3%;
  background-color:azure;
}

h2, h3, p {
  display: flex;
  justify-content:center;
}

hr {
  width: 40%;
}

.bookForm {
  display: flex;
  justify-content:center;
}

input {
  display: flex;
  align-items: flex-start;
}

input[type='button'] {
  margin-top:10px;
}

button[type="button"] {
  margin-left: 46%;
}

label {
  display: inline-block;
  margin-right: 10px;
}
